body {
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    line-height: 200%;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(231, 185, 245);
}
